.firstLevelText p {
  background-color: black;
  color: white;
}

.firstLevelText .highlight {
  border: 10px solid green;
}
.mt-2 {
  margin-top: 50px;
}

body div#firstLevelTextId p {
  background-color: red;
  margin-top: 0;
}
